<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:if condition="{products}">
	<f:for each="{products}" as="product">
		<section class="product">
			<h2>{product.name}</h2>
			<p>Kategorien:
				<f:for each="{product.categories}" as="category">{category.name}</f:for>
			</p>
			<p>{product.descriptionLong -> f:format.html()}</p>
			<f:if condition="{product.images.0}">
				{product.images.0 -> swc:media.product.image() -> f:variable(name: 'foo')}
				{f:media(file: foo)}
			</f:if>
		</section>
	</f:for>
</f:if>

</html>
